@import 'tailwindcss';

@theme {
  /* Colors */
  --color-background: #eff3fb;
  --color-text: #070e1f;
  --color-primary: #3e62d3;
  --color-primary-100: #CCD6F3;
  --color-secondary: #e6b593;
  --color-accent: #bcdb60;
}

body {
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
  background-color: var(--color-background);
  text-color: var(--color-text);
}
